div.content
    h1 Has Recibido un nuevo mensaje
    p=`Hola Arcadio, recibimos un nuevo mensaje con los siguiente datos`
    p=`Nombre: ${name}`
    p=`Correo electrónico: ${email}`
    p=`Asunto: ${subject}`
    p=`Mensaje: ${message}`
